# Global owners

* @skaffold-team

# Buildpacks owners

**/**buildpacks** @skaffold-team

# JIB owners

**/**jib** @skaffold-team @loosebazooka @TadCordle @chanseokoh

# Debug owners

pkg/skaffold/debug/** @skaffold-team @loosebazooka @quoctruong
docs/content/en/docs/how-tos/debug/** @skaffold-team @loosebazooka @quoctruong
integration/test-data/debug/** @skaffold-team @loosebazooka @quoctruong
integration/debug_test.go @skaffold-team @loosebazooka @quoctruong
