# Global owners

* @GoogleContainerTools/skaffold-team

# JIB owners

**/**jib** @GoogleContainerTools/skaffold-team @loosebazooka @TadCordle @chanseokoh

# kpt owners
pkg/skaffold/deploy/**kpt** @GoogleContainerTools/skaffold-team @yuwenma

# Debug owners

pkg/skaffold/debug/** @GoogleContainerTools/skaffold-team @loosebazooka @quoctruong
docs/content/en/docs/how-tos/debug/** @GoogleContainerTools/skaffold-team @loosebazooka @quoctruong
integration/test-data/debug/** @GoogleContainerTools/skaffold-team @loosebazooka @quoctruong
integration/debug_test.go @GoogleContainerTools/skaffold-team @loosebazooka @quoctruong
