# Order is important; the last matching pattern takes the most precedence

# JIB owners

**/**jib** @briandealwis @loosebazooka @TadCordle @chanseokoh
**/jib_** @briandealwis @loosebazooka @TadCordle @chanseokoh

# Debug owners
pkg/skaffold/debug/** @briandealwis @loosebazooka @quoctruong
docs/content/en/docs/how-tos/debug/** @briandealwis @loosebazooka @quoctruong
integration/test-data/debug/** @briandealwis @loosebazooka @quoctruong
integration/debug_test.go  @briandealwis @loosebazooka @quoctruong

# Global owners
* @balopat @dgageot @nkubala @priyawadhwa @tejal29
