out/
examples/bazel/bazel-*
integration/examples/bazel/bazel-*
integration/examples/test-plugin/local/bazel/bazel-*
*.new
.idea/
docs/.firebase
docs/firebase-debug*
docs/public
docs/resources
docs/node_modules
docs/package-lock.json
pkg/skaffold/color/debug.test