out/
examples/bazel/bazel-*
examples/please/plz-*
integration/examples/bazel/bazel-*
*.new
.idea/
docs/.firebase
docs/firebase-debug*
docs/public
docs/resources
docs/node_modules
docs/package-lock.json
pkg/skaffold/color/debug.test