apiVersion: skaffold/v2beta24
kind: Config
metadata:
  name: cfg2
build:
  artifacts:
  - image: app2
    context: {{.Root}}/foo2
    docker:
      dockerfile: Dockerfile
  tagPolicy:
    gitCommit: {}
  local:
    concurrency: 1
deploy:
  kubectl:
    manifests:
    - /k8s/*
  logs:
    prefix: container
---
apiVersion: skaffold/v2beta24
kind: Config
metadata:
  name: cfg3
build:
  artifacts:
  - image: app3
    context: {{.Root}}/foo3
    docker:
      dockerfile: Dockerfile
  tagPolicy:
    gitCommit: {}
  local:
    concurrency: 1
deploy:
  kubectl:
    manifests:
    - /k8s/*
  logs:
    prefix: container
---
apiVersion: skaffold/v2beta24
kind: Config
build:
  artifacts:
  - image: app1
    context: {{.Root}}/foo
    docker:
      dockerfile: Dockerfile
  tagPolicy:
    gitCommit: {}
  local:
    concurrency: 1
deploy:
  kubectl:
    manifests:
    - /k8s/*
  logs:
    prefix: container
