apiVersion: v1
kind: Service
metadata:
  name: leeroy-web
  labels:
    app: leeroy-web
spec:
  type: NodePort
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
      name: leeroy-web
  selector:
    app: leeroy-web
