apiVersion: v1
kind: Service
metadata:
  name: node
spec:
  ports:
  - port: 8080
  type: LoadBalancer
  selector:
    app: node
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: node
spec:
  selector:
    matchLabels:
      app: node
  template:
    metadata:
      labels:
        app: node
    spec:
      containers:
      - name: react
        image: react-reload
        ports:
        - containerPort: 8080
