apiVersion: skaffold/v4beta2
kind: Config
build:
  artifacts:
  - image: skaffold-example
    context: {{.Root}}
    docker:
      dockerfile: Dockerfile
  tagPolicy:
    gitCommit: {}
  local:
    concurrency: 1
manifests:
  rawYaml:
  - {{.Root}}/k8s-*
deploy:
  logs:
    prefix: container
