.main-container {
    margin-left: 0;
    margin-right: 0;
}

.tagline {
    font-size: 1.3rem;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    opacity: 0;
    transition: 3s
}

.testimonial {
    font-size: 1rem;
}

.testimonial-byline {
    text-align: center !important;
}

.skaffold-font {
    font-family: 'Exo 2', Arial, Helvetica, sans-serif;
}
