name: create draft release

on:
  push:
    branches:
    - master
jobs:
  check:
    name: Check if release commit
    runs-on: ubuntu-latest
    outputs:
      applicable: ${{ steps.check-commit-message.outputs.applicable }}
    steps:
    - name: Check commit message
      id: check-commit-message
      run: |
        str="${{ github.event.head_commit.message }}"
        regex="^release\s*:\s*(v[0-9]+\.[0-9]+\.[0-9]+|[0-9]+\.[0-9]+\.[0-9]+)\s*$"
        if [[ $str =~ $regex ]]; then
        echo "::set-output name=applicable::true"
        echo This is a release commit.
        fi

  release:
    needs: check
    if: needs.check.outputs.applicable == 'true'
    name: Create Tag and Draft Release
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Calculate Tag and release names
      run: |
        t=$(echo ${{ github.event.head_commit.message }} | sed -ne 's/.*\([0-9]\+\.[0-9]\+\.[0-9]\+\).*/\1/p')
        if [ -z "$t" ]; then
        echo Malformed commit message; failed to extract semVer tag
        return 1
        fi
        echo TAG_NAME="v${t}" >> $GITHUB_ENV
        echo RELEASE_NAME="v${t} Release" >> $GITHUB_ENV

    - name: Create and push Tag
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git tag -a ${{ env.TAG_NAME }} -m "${{ env.RELEASE_NAME }}"
        git push origin ${{ env.TAG_NAME }}

    - name: Install gsutil
      run: |
        curl -Lo $HOME/gsutil.tar.gz https://storage.googleapis.com/pub/gsutil.tar.gz
        tar xfz $HOME/gsutil.tar.gz -C $HOME
        echo "$HOME/gsutil" >> $GITHUB_PATH

    - name: Download release artifacts
      run: |
        #Wait 60m for all artifacts to be available
        retries=20
        found=0
        while [ $found -lt 10 -a $retries -gt 0 ]
        do
        sleep 3m
        found=$(gsutil du  gs://skaffold/releases/${{ env.TAG_NAME }}/ | wc -l)
        retries=$((retries-1))
        done
        gsutil -m cp -r gs://skaffold/releases/${{ env.TAG_NAME }}/ $HOME

    - name: Create Release
      shell: bash
      run: |
        curl -fsSL https://github.com/github/hub/raw/master/script/get | bash -s 2.14.1
        body=$(git log -p --follow -1 CHANGELOG.md | grep '^\+' | cut -c 2- | tail -n +2)
        assets=()
        for asset in $HOME/${{ env.TAG_NAME }}/*; do
        assets+=("-a" "$asset")
        done
        bin/hub release create "${assets[@]}" -m "${{ env.RELEASE_NAME }}" -m "$body" --draft ${{ env.TAG_NAME }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
