name: unit tests (linux)

# Triggers the workflow on push or pull request events
on: [push, pull_request]

permissions: read-all

concurrency:
  group: build-${{ github.event.pull_request.number || github.ref }}-${{github.workflow}}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  build:
    name: unit tests (linux)
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: 1.22.*
      id: go

    - name: Check out code into the Go module directory
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    # Skip tests for `docs`-only changes (only works for PR-based dev workflows like Skaffold's).
    # NOTE: grep output is stored in env var with `|| true` as the run command cannot fail or action will fail
    - name: Check if only docs changes were made in this PR
      run: |
        echo ${{ github.event.before }}
        echo ${{ github.event.after }}
        NON_DOCS_FILES_CHANGED=$(git diff --name-only ${{ github.event.pull_request.base.sha }}..${{ github.sha }}| grep -v '^docs/' || true) 
        echo "NON_DOCS_FILES_CHANGED=${#NON_DOCS_FILES_CHANGED}" >> $GITHUB_ENV  # get the char len of diff output (used later)

    - name: Run unit tests
      if: ${{ env.NON_DOCS_FILES_CHANGED != 0 }}
      run: |
        make coverage

    - name: Run diagnostics tests
      if: ${{ env.NON_DOCS_FILES_CHANGED != 0 }}
      run: |
        make -f Makefile.diag coverage
